{% macro book(book, user_id) %}

{% if book.user == user_id %}
    <div class="book"
        hx-trigger="click"
        hx-delete="/app/books/{{ book.id }}"
        hx-target="#books"
        hx-swap="outerHTML"
    >
        {{ book.title }} by {{ book.author }}
    </div>
{% else %}
    <div class="book"
        hx-trigger="click"
        hx-patch="/app/books/{{ book.id }}"
        hx-target="#books"
        hx-swap="outerHTML"
    >
        {{ book.title }} by {{ book.author }}
    </div>
{% endif %}

{% endmacro %}