{% from "books/book.jinja" import book %}

{% macro book_list(books, user_id) %}

<div class="books" id="books" 
      hx-get="/app/books/list" hx-trigger="newBook from:body">
    <h3>Find Books</h3>
    <div>
        {% for b in books %}
          {% if b["user"] != user_id %}
            {{ book(book=b, user_id=user_id) }}
          {% endif %}
        {% endfor %}
    </div>
    <h3 style="margin-top: 20px;">Here are your books</h3>
    <div id="user-books">
        {% for b in books %}
          {% if b["user"] == user_id %}
            {{ book(book=b, user_id=user_id) }}
          {% endif %}
        {% endfor %}
    </div>
</div>

{% endmacro %}