{% extends "layout.html" %}

{% block title %}
    <title>Fastapi Fullstack Login</title>
{% endblock title %}

{% block content %}
    <h1>Log in</h1>
    <main>
        <form class="auth-form" hx-post="/app/login" hx-swap="beforeend">
            <label for="email">Email address</label>
            <input id="email"
                   name="email"
                   type="email"
                   autocomplete="email"
                   required
                   class="inpt"
            />
            <label for="password">Password</label>
            <input id="password"
                   name="password"
                   type="password"
                   required
                   class="inpt"
            />
            <button type="submit" class="btn">
                <span style="margin: 0 10px">Log in</span>
                <span class="htmx-indicator spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </button>
        </form>
    </main>
{% endblock content %}