{% extends "layout.jinja" %}

{% block title %}
    <title>Fastapi Fullstack</title>
{% endblock title %}

{% block content %}
    <h1>Marketing</h1>
    <article>This is the dopest marketing route.</article>
{% endblock content %}