<nav class="navbar navbar-expand-xl bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <div style="min-width:50px;">
              <img alt='Books logo' src='{{ base_path_reset or "" }}logo.svg'>
            </div>
            <div>Books</div>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for item in main_menu %}
                    {% if item.children|length > 0 %}
                        <li class="nav-item dropdown">
                            <a
                                    class="nav-link dropdown-toggle"
                                    href="#" role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                {{ item.name }}
                            </a>
                            <ul class="dropdown-menu">
                                {% for child in item.children %}
                                    <li>
                                        <a class="dropdown-item"
                                           href="/{{ child.target_slug }}">
                                            {{ child.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    aria-current="page"
                                    href="/{{ item.target_slug }}">
                                {{ item.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 nav-side">
                {# Statically served pages have no access to the request
                object. We only get the request object after the load trigger,
                at which point we return just the auth menu with the request object,
                which we just swap out the below. #}
                {% if not request %}
                    <li class="nav-item">
                        <a
                                class="nav-link"
                                aria-current="page"
                                hx-get="/app/auth_menu"
                                hx-trigger="load"
                                hx-target="closest li"
                                hx-swap="outerHTML">
                            Login
                        </a>
                    </li>
                {# All dynamic pages have direct access to the request object. #}
                {% else %}
                    {% include "auth_menu.jinja" %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script>
/*
    addLoadListener(highlightActiveNav);

    function highlightActiveNav() {
        console.log(window.location.pathname)
        const navItems = document.querySelectorAll(".nav-link");
        navItems.forEach(e => {
            if (e.href.endsWith('#')) {
              return;
            }

            const path = new URL(e.href).pathname;
            if (window.location.pathname == path) {
                console.log(e)
                e.classList.add("active-nav-link");
                console.log(e)
            } else {
                e.classList.remove("active-nav-link");
            }
        });
    }
*/
</script>

<style>
    .active-nav-link {
        background-color: var(--slate-200);
    }
</style>